<template>
  <div class="app-row">
    <label :for="id" :class="{'focused' : this.focused || value}">{{label}}</label>
    <input
      v-bind="$attrs"
      v-bind:value="value"
      v-on="inputListeners"
      
      class="lf_form-control"
      :class="[ ( error && (exval || dirty) ) && 'invalid', ( !error && value && dirty ) && 'valid', extracss ]"
      :id="id"
      :name="name"
      :type="type"
      :maxlength="maxlength"
      :autocomplete="autocomplete"
    >
    <div v-if="help" class="optional-field-helper" v-html="help"></div>
    <div v-if="( error && (exval || dirty) )" class="input-error">{{ errormsg || error }}</div>
  </div>
</template>

<script>

export default {
  name: "BasicInput",
  inheritAttrs: false,
  $_veeValidate: {
    // value getter
    value() {
      return this.$el.value;
    },
    // name getter
    name() {
      return this.name;
    }
  },
  props: {
    label: String,
    id: String,
    name: String,
    errormsg: String,
    help: String,
    extracss: String,
    exval: Boolean,
    type: {
      type: String,
      default: "text"
    },
    maxlength: {
      type: String,
      default: ""
    },
    value: {
      type: null,
      default: null
    },
    error: {
      type: String,
      default: null
    },
    autocomplete: {
        type: String,
        default: "on"
    }
  },
  data() {
    return {
      focused: false,
      touched: false,
      dirty: false,
    };
  },
  methods: {
      makeDirty(){
          this.dirty = true;
      }
  },
  computed: {
    inputListeners: function() {
      var vm = this;
      return Object.assign(
        {},
        this.$listeners,
        {
          // This ensures that the component works with v-model
          input: function(event) {
            vm.$emit("input", event.target.value);
          },
          focus: function(){
              vm.focused = true;
              vm.touched = true;
          },
          blur: function() {
              vm.focused = false;
              vm.dirty = true;
          }
        }
      );
    }
  },
  watch: {
      value: "makeDirty"
  },
  mounted(){
      if(this.value){
          this.dirty = true;
      }
  }
};
</script>

<style>
</style>