<template>
  <div class="app-row">
    <label :for="id" :class="{'focused' : this.focused || value}">{{label}}</label>
    <input
      v-bind="$attrs"
	  @input="updateValue"
	  @focus="focusField"
      @blur="blurField"

      class="lf_form-control"
      :class="[ ( error && (exval || dirty) ) && 'invalid', ( !error && value && dirty ) && 'valid', extracss ]"
      :id="id"
      :name="name"
      :type="type"
      :maxlength="maxlength"
      :autocomplete="autocomplete"
    >
	<div v-if="help" class="optional-field-helper" v-html="help"></div>
	<div v-if="( error && (exval || dirty) )" class="input-error">{{ errormsg || error }}</div>
  </div>
</template>

<script>
import Cleave from "cleave.js";

export default {
  name: "CleaveInput",
  inheritAttrs: false,
  $_veeValidate: {
    // value getter
    value() {
      return this.$el.value;
    },
    // name getter
    name() {
      return this.name;
    }
  },
  props: {
    label: String,
    id: String,
    name: String,
    errormsg: String,
    help: String,
	extracss: String,
	exval: Boolean,
    type: {
      type: String,
      default: "text"
    },
    maxlength: {
      type: String,
      default: ""
    },
    value: {
      type: null,
      default: null
    },
    error: {
      type: String,
      default: null
    },
    cleaveoptions: {
      type: Object
    },
    autocomplete: {
        type: String,
        default: "on"
    }
  },
  data() {
    return {
      focused: false,
      touched: false,
      dirty: false
    };
  },
  mounted() {
    this.cleave = new Cleave(this.$el.querySelector("input"), this.cleaveoptions);
    this.cleave.setRawValue(this.value);
    if(this.value){
       this.dirty = true;
    }
  },
  destroyed() {
    this.cleave.destroy();
  },
  watch: {
    value: "updateInput"
  },
  methods: {
    updateValue() {
	  var val = this.cleave.getFormattedValue();
      if (val !== this.value) {
        this.$emit("input", val);
      }
    },
    updateInput() {
      this.cleave.setRawValue(this.value);
	},
	focusField() {
      this.focused = true;
      this.touched = true;
    },
    blurField() {
      this.focused = false;
      this.dirty = true;
    }
  },
};
</script>