<template>
  <div class="loading-cover justify-content-center align-items-center">
      <div class="bg-white p-4">
            <div class="dots ml-auto mr-auto">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="mt-4 w-100 px-4 text-center">
                <small v-html="message"></small>
            </div>
      </div>
  </div>
</template>

<script>

export default {
  name: "Loading",
  props: ['message']
};
</script>