<template>
    <div class="modal-cover d-flex justify-content-center align-items-start py-5">
        <div class="lf_card bg-white lf_col-xl-8 lf_modal-body">
            <div class="lf_card-body p-4">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="dismiss">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h3 class="lf_h3 mb-5">Disclaimer</h3>
                <div class="light mb-5">
                    <p><strong>IMPORTANT: The Operator of this website is not a lender, financial institution, loan broker or an agent of a lender or loan broker and does not make any credit decisions.</strong> This service, which connects consumers with eligible third party lenders, is free to consumers. This service does, however, receive payment from lenders for referring lead data to them. Although multiple factors dictate the order in which lenders have the opportunity to purchase a lead, the highest bidding lender will most often get the opportunity. Lenders may perform credit checks through any credit reporting bureau and may also verify the information that you provide on this form including social security number, address, phone number, employment history, bank account information etc. Information may be shared with non-lenders or other intermediary service providers (like us) to help you connect with a lender. This service works with many different kinds of lending partners, including tribal lending institutions. Federally recognized Indian tribes are independent sovereign nations and their wholly owned entities are generally not required to follow state and local laws regarding rates, fees and other loan related conditions. However, Indian tribes and their wholly owned entities are required to follow some applicable federal laws. If you are connected with a tribal entity, be sure to check their rates as they may carry higher interest rates when compared to state-licensed lenders. The Truth in Lending Act requires lenders to disclose rates, fees and other important conditions of a loan. After checking the terms, make a determination of whether or not you can afford the payments. We earnestly encourage you to reject any offer that is not within your financial means. Short-term, small-dollar loans are not a long term solution to financial hardship. You may also consider seeking professional advice regarding your financial circumstances and alternatives to loan products. Late payments of loans may result in additional fees or collection activities, or both. Each lender has its own terms and conditions. Please familiarize yourself with your lender’s policies for further information. Additionally, failure to repay your loan may carry nonpayment penalties and collection activities. Please review nonpayment terms with your lender directly. Every lender has a different renewal policy please review your particular lender’s renewal policy for more information.</p>
                    <p><strong>State Availability:</strong> Lenders that participate in the services provided by this website do not offer loans in every state. If you are from a state that the lenders do not service, you will not be able to be connected to a lender. Our service does not constitute an offer or solicitation for any loan products that are prohibited by state law. Additionally, this is not a solicitation for any particular loan and is not a loan offer.</p>
                </div>
                <div class="p14 text-right"><a href="#" @click.prevent="dismiss">Close</a></div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Disclaimer',
    methods: {
        dismiss(){
            this.$emit('clicked', true);
        }
    }
}
</script>

<style>

</style>
