<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Javascript Form...</title>

	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="<%= BASE_URL %>css/style.css">
    
    <style>
        .demo_container {
            margin: 0px auto;
            padding: 20px;
            width: 100%;
            max-width: 1170px;
        }
    </style>
</head>
<body>
    <section>
        <div class="demo_container">
            <div class="lf_row">
                <div class="lf_col-lg-8">
                    <div id="jsform"></div>
                </div>
                <div class="lf_col-lg-4">
                </div>
            </div>
        </div>
    </section>
    
    <script id="LeapForm" type="application/json">
        {
            "type":"IL",
            "site_url": "https://mywebsite.com",
            "webmaster_id": "85159",
            "subaccount": "0",
            "gc": "true"
        }
    </script>
	
	<!-- built files will be auto injected -->
</body>
</html>