<template>
	<section>
        <div class="mb-5">
            <router-view  />
        </div>
	</section>
</template>

<script>
// @ is an alias to /src
import RouterView from 'vue-router';

export default {
  name: 'Form',
  components: {
    
  },
}
</script>