<template>
  <div id="lf_app">
    <router-view/>
  </div>
</template>

<script>
import axios from 'axios';
import { mapActions } from "vuex";


export default {
  name: "App",
  methods: {
    ...mapActions(['saveVisitData', 'checkUserAgentHistory', 'checkEmail']),
    async registerVisit(){
          
        try {
            const response = await axios.get(`${process.env.VUE_APP_LOCAL_API}ip/`);
            this.clientIP = response.data.success ? response.data.ip : 'none';
        } catch(err){
            console.log(err);
        }
        const params = {
            clientIP: this.clientIP,
            refererURL: this.$root.$data.siteURL,
            declineURL: this.$root.$data.declineURL,
            userAgent: this.USER_AGENT,
            webmasterID: this.webmasterID,
            webmasterID2: this.webmasterID2,
            subaccount: this.subaccount,
            subid1: this.subid1,
            subid2: this.subid2,
            subid3: this.subid3,
            subid4: this.subid4,
        };
        this.saveVisitData(params).then(() =>{
            if(localStorage.getItem('user')){
                const localUser = JSON.parse(localStorage.getItem('user'));
                this.checkEmail(localUser);
            } else {
                this.checkUserAgentHistory();
            }
        });
      },
  },
  data() {
      return {
          clientIP: '',
          subid1: '',
          subid2: '',
          subid3: '',
          subid4: '',
          webmasterID: '',
          webmasterID2: '',
          subaccount: ''
      }
  },
  computed: {
    USER_AGENT() {
        return navigator.userAgent;
    }
  },
  created(){
    const urlParams = new URLSearchParams(window.location.search);
    this.subid1 = urlParams.has('s1') ? urlParams.get('s1') : '';
    this.subid2 = urlParams.has('s2') ? urlParams.get('s2') : '';
    this.subid3 = urlParams.has('s3') ? urlParams.get('s3') : '';
    this.subid4 = urlParams.has('s4') ? urlParams.get('s4') : '';
    this.webmasterID = urlParams.has('aid') ? urlParams.get('aid') : this.$root.$data.webmasterID;
    this.webmasterID2 = urlParams.has('aid2') ? urlParams.get('aid2') : this.$root.$data.webmasterID2;
    this.subaccount = urlParams.has('subacc') ? urlParams.get('subacc') : this.$root.$data.subaccount;
  },
  mounted(){
      this.registerVisit();
  }
}
</script>

<style>

</style>