<template>
    <div style="max-width: 770px;">
        <Steps steps="4" current="1" links="true" />
        
        <form @submit.prevent="validateBeforeSubmit">
            <div class="txt-grey">Step 1</div>
            <h3 class="lf_h3 uc">Alrighty, Let’s Get started...</h3>
            <p class="light mb-4">Here’s a few easy questions to begin.</p>
            <fieldset class="mb-5">
                <div class="lf_row">
                    <div class="lf_col-lg-10 lf_col-xl-8">
                        <BasicInput
                            label="What's your email?"
                            id="email"
                            name="email"
                            type="email"
                            v-model="email"
                            :exval="validationAttempt"
                            v-validate="'required|email'"
                            :error="errors.first('email')" />
                    </div>
                </div>
                
                <div class="lf_row">
                    <div class="lf_col-lg-10 lf_col-xl-8">
                        <CleaveInput
                            label="What's your zipcode?"
                            id="zipcode"
                            name="zipcode"
                            maxlength="5"
                            type="tel"
                            v-model="zipcode"
                            :cleaveoptions="masks.zipcode"

                            v-validate="{ required: true, validateZip: true, regex: /^[0-9]{5}$/ }"
                            :exval="validationAttempt"
                            :error="errors.first('zipcode')" 
                        />
                    </div>
                </div>

                <div class="lf_row">
                    <div class="lf_col-lg-10 lf_col-xl-8">
                        <LoanSelect
                            label="How much do you want to borrow?"
                            id="loan_amount"
                            name="loan_amount"
                            type="tel"
                            v-model="loan_amount"
                            v-validate="'required'"
                            errormsg="This is a required field"
                            :error="errors.first('loan_amount')" />
                    </div>
                </div>

            </fieldset>

            <div class="light txt-grey p14 my-5" style="max-width: 470px;">By submitting your information, you agree to the terms of our <a href="#" @click.prevent="privacy = true">Privacy Policy</a>, <a href="#" @click.prevent="terms = true">Terms of Use</a> and <a href="#" @click.prevent="disclaimer = true">Disclaimer</a>.</div>

            <div class="my-5 d-flex align-items-center">
                <button class="lf_btn btn-cta btn-red uc" id="form-submit">{{saving ? 'Saving...' : 'Continue'}}</button>
                <div>
                    <transition name="slide">
                        <span class="some-errors" v-if="(errors.items.length != 0 && validationAttempt)">You have some errors</span>
                    </transition>
                </div>
            </div>
        </form>

        <Privacy @clicked="dismissModal" v-if="privacy" />
        <Terms @clicked="dismissModal" v-if="terms" />
        <Disclaimer @clicked="dismissModal" v-if="disclaimer" />

        <RecognisedUserForm v-if="recogniseFormCondition" @clicked="dismissReturning" :name="auth.userDetails.name" />

    </div>
</template>

<script>
import axios from 'axios';
import BasicInput from '@/components/form/BasicInput.vue';
import CleaveInput from '@/components/form/CleaveInput.vue';
import LoanSelect from '@/components/form/LoanSelect.vue';
import Steps from '@/components/form/Steps.vue';
import Privacy from '@/components/legal/Privacy.vue';
import Terms from '@/components/legal/Terms.vue';
import Disclaimer from '@/components/legal/Disclaimer.vue';

import RecognisedUserForm from '@/views/RecognisedUserForm.vue';


import { mapGetters, mapActions } from "vuex";

export default {
    name: 'FormStep1',
    title: 'Register | Step 1',
    components:{
        BasicInput,
        CleaveInput,
        LoanSelect,
        Steps,
        Privacy,
        Terms,
        Disclaimer,
        RecognisedUserForm
    },
    data() {
	  return {
            validationAttempt: false,
            saving: false,
            privacy: false,
            terms: false,
            disclaimer: false,
            recognisedDismissed: false,

			email: '',
			zipcode: '',
            loan_amount: '',
            loan_amount_raw: 0,
            loan_amount_range: '',

            masks: {
                zipcode: { numericOnly: true, blocks: [5] },
            }
		}
    },
    methods: {
        ...mapActions(['saveFormData', 'recogniseUser']),
        dismissModal() {
            this.privacy = false;
            this.terms = false;
            this.disclaimer = false;
        },
        dismissReturning() {
            this.recognisedDismissed = true;
        },
        validateBeforeSubmit() {
            this.saving = true;
            this.validationAttempt = true;
			this.$validator.validate().then((result) => {
        		if (result) {
					this.saveFormData({
                        'email': this.email.toLowerCase(),
                        'zipcode': this.zipcode,
                        'loan_amount' : this.loan_amount,
                        'loan_amount_raw': this.loan_amount_raw,
                        'loan_amount_range': this.loan_amount_range,
						'firstStep': true,
                    });
                    this.sendData();
                    return;
                }

                this.saving = false;
				
      		});
        },
        async sendData(){

			const endpoint = `${process.env.VUE_APP_LOCAL_API}recognizeEmail?email=${this.email.toLowerCase()}`;
			
			try {
				this.loading = true;
				const response = await axios.get(endpoint);
				if(response.data.success){
					this.recogniseUser(response.data.success);
					this.$router.push({ path: '/welcome' });
				} else {
					this.$router.push({ path: '/2' });
				}
				
			} catch(err) {
				this.loading = false;
				console.log(err);
			}
        },
        getLoanAmountValue(){
            const amounts = this.loanAmounts.find(o => o.type === this.$root.$data.siteType);
            const loanAmount = amounts.amounts.find(obj => {
                return obj.label === this.loan_amount;
            });
            this.loan_amount_raw = loanAmount.value;
            this.loan_amount_range = loanAmount.range;
        }
    },
    watch: {
        loan_amount: 'getLoanAmountValue',
    },
    computed: {
        ...mapGetters(["formData", "loanAmounts", "auth"]),
        recogniseFormCondition() {
            if(this.recognisedDismissed){
                return false;
            } else if(this.auth.useragentRecognised || this.auth.recognisedEmail) {
                return true;
            } else {
                return false;
            }        
        }
    },
    created(){
        this.email = this.formData.email || '';
        this.zipcode = this.formData.zipcode || '';
        this.loan_amount = this.formData.loan_amount || '';
  }
}
</script>

<style>
    
</style>
