<template>
  <div style="max-width: 770px;">
    <h3 class="uc">Welcome Back {{fname}}</h3>
    <p
      class="light mb-4"
    >Enter your details below and we'll pull up your previous data for quick resubmission.</p>
    <form @submit.prevent="validateBeforeSubmit">
      <div class="lf_row">
        <div class="lf_col-lg-10 lf_col-xl-8">
          <BasicInput
                        label="What's your email?"
                        id="email"
                        name="email"
                        type="email"
                        v-model="email"
                        :exval="validationAttempt"
                        v-validate="'required|email'"
                        :error="errors.first('email')" />
        </div>
      </div>

      <div class="lf_row">
        <div class="lf_col-lg-10 lf_col-xl-8">
          <CleaveInput
            label="Last 4 digits of your SSN"
            id="ssnLast4"
            name="ssnLast4"
            type="tel"
            maxlength="4"
            autocomplete="off"
            v-model="ssnLast4"
            v-validate="{ required: true, regex: /^([0-9]{4})$/ }"
            :exval="validationAttempt"
            :cleaveoptions="masks.ssnLast4"
            extracss="dont-mark"
            errormsg="This is a required field"
            :error="errors.first('ssnLast4')"
          />
        </div>
      </div>

      <div class="lf_row">
        <div class="lf_col-lg-10 lf_col-xl-8">
          <LoanSelect
            label="How much do you want to borrow?"
            id="loan_amount"
            name="loan_amount"
            type="tel"
            v-model="loan_amount"
            v-validate="'required'"
            errormsg="This is a required field"
            :error="errors.first('loan_amount')"
          />
        </div>
      </div>

      <div class="light txt-grey p14 my-5" style="max-width: 470px;">By submitting your information, you agree to the terms of our <a href="#" @click.prevent="privacy = true">Privacy Policy</a>, <a href="#" @click.prevent="terms = true">Terms of Use</a> and <a href="#" @click.prevent="disclaimer = true">Disclaimer</a>.</div>

      <div class="my-5 d-flex align-items-center">
        <button
          class="btn btn-cta btn-red uc"
          id="form-submit"
        >{{ this.loading ? 'Sending...' : 'Continue' }}</button>
        <div>
          <transition name="slide">
            <span
              class="some-errors"
              v-if="(errors.items.length != 0 && validationAttempt)"
            >You have some errors</span>
          </transition>
        </div>
      </div>
    </form>
    <Privacy @clicked="dismissModal" v-if="privacy" />
    <Terms @clicked="dismissModal" v-if="terms" />
    <Disclaimer @clicked="dismissModal" v-if="disclaimer" />
  </div>
</template>

<script>
// @ is an alias to /src
import axios from "axios";
import BasicInput from '@/components/form/BasicInput.vue';
import CleaveInput from "@/components/form/CleaveInput.vue";
import LoanSelect from "@/components/form/LoanSelect.vue";
import Privacy from "@/components/legal/Privacy.vue";
import Terms from "@/components/legal/Terms.vue";
import Disclaimer from "@/components/legal/Disclaimer.vue";

import { mapGetters, mapActions } from "vuex";

export default {
  name: "Login",
  title: "Login",
  components: {
    BasicInput,
    CleaveInput,
    LoanSelect,
    Privacy,
    Terms,
    Disclaimer
  },
  data() {
    return {
      fname: "",
      validationAttempt: false,
      privacy: false,
      terms: false,
      disclaimer: false,
      masks: {
        ssnLast4: { numericOnly: true, blocks: [4] }
      },
      email: "",
      ssnLast4: "",
      loan_amount: "",
      loan_amount_raw: 0,
      loan_amount_range: '',
      loading: false
    };
  },
  methods: {
    ...mapActions(["saveFormData", "authoriseUser"]),
    dismissModal() {
      this.privacy = false;
      this.terms = false;
      this.disclaimer = false;
    },
    validateBeforeSubmit() {
      this.validationAttempt = true;
      this.$validator.validate().then(result => {
        if (result) {
          this.saveFormData({
            firstStep: true,
            email : this.email.toLowerCase(),
            loan_amount: this.loan_amount,
            loan_amount_raw: this.loan_amount_raw,
            loan_amount_range : this.loan_amount_range
          });
          this.sendData();
          return;
        }
      });
    },
    async sendData() {
      const endpoint = `${process.env.VUE_APP_LOCAL_API}verifyEmail?email=${this.email}&ssn_last4=${this.ssnLast4}`;
      try {
        this.loading = true;
        const response = await axios.get(endpoint);
        if (response.data.body) {
          this.authoriseUser({
            clientKey: response.data.clientKey,
            ...response.data.body
          });
          this.$router.push({ path: 'returning' });
        } else {
          this.loading = false;
          this.errorMessage = true;
        }
      } catch (err) {
        this.loading = false;
        console.log(err);
      }
    },
    getLoanAmountValue() {
      const amounts = this.loanAmounts.find(
        o => o.type === this.$root.$data.siteType
      );
      const loanAmount = amounts.amounts.find(obj => {
        return obj.label === this.loan_amount;
      });
      this.loan_amount_raw = loanAmount.value;
      this.loan_amount_range = loanAmount.range;
    },
  },
  computed: mapGetters(["loanAmounts"]),
  watch: {
    loan_amount: "getLoanAmountValue"
  },
  created() {
    const urlParams = new URLSearchParams(window.location.search);
    this.fname = urlParams.has("fname") ? urlParams.get("fname") : "";
    this.email = urlParams.has("email") ? urlParams.get("email") : "";
    let obj = this.loanAmounts.find(o => o.type === this.$root.$data.siteType);
    let obj2 = obj.amounts.find(o => o.value == urlParams.get('amount'));
    this.loan_amount = obj2.label;


  }
};
</script>
<style>
</style>